body {
    font-family: sans-serif;
    text-align: center ;
    max-width: 100%;
}

h1 {
    font-size: 3rem;
}

p {
    max-width: 60rem;
    margin: 1rem auto;
}

#map, #map2 { 
    width: 900px;
    max-width: 100%;
    margin: auto;
    aspect-ratio: 5 / 3;
}